<launch>
  <!-- Launch an empty Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- Process the xacro file and load it as robot_description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find tracer_ur5e_assembly)/urdf/column.xacro" />

  <!-- Spawn the robot into Gazebo -->
  <!-- <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -model tracer_ur5e_robot -param robot_description" /> -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -model tracer_ur5e_robot -param robot_description -x 0 -y 0 -z 0.1" />

</launch>
